*{ 
    padding: 0;
    margin: 0;
}

h1{
    background-color: #FF6347;
    color: #FFA500;
    padding: 10px;
}
nav ul {
    background-color:#FF7F50;
    width: 100%;
    list-style-type: none;
    text-align: center;
    
}

nav li {
    display: inline-flex;
    
}
nav a {
    color: yellowgreen;
    text-decoration: none;
    padding: 10px;
    width: 200px;
    margin-inline: 50px;
}
nav li:hover{
    background-color: #FFA500;

}
.contenido img {
    width: 400px;
    height: 300px;
    border: 1px;
    object-fit: cover;
}
.contenido1 img {
    width: 400px;
    height: 300px;
    border: 1px;
    object-fit: cover;
}
.contenido2 img {
    width: 400px;
    height: 300px;
    border: 1px;
    object-fit: cover;
}
.contenido {
    display: flex;
    margin-top: 80px;
    background-color: #FFA500;
    height: 300px;
}

.contenido1 {
    display: flex;
    margin-top: 80px;
    background-color: #FFA500;
    size: 100px;
}

.contenido2 {
    display: flex;
    margin-top: 80px;
    background-color: #FFA500;
    size: 100px;
}
h2 a{
    text-decoration: none;
    color: yellowgreen;

}
h2 a{
    text-decoration: none;
    color: yellowgreen;
    font-size: 40px;
}

p{
    color: azure;
    font-size: 30px;
}

.pie{
    
    background-color: #FF6347;
    color: #FFA500;
    padding: 10px;
    margin-top: 300px;
}
.pie img{
    width: 35px;
    height: 35px;
    border: 1px;
    align-content:center ;
}